*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'HelveticaNeueCyr',sans-serif;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}
.header{
    padding: 25px 0;
    border: 1px solid #E5E5E5;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 52px;
    flex: 1 1 auto;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1F1F1F;
}
.nav-link{
    position: relative;
    font-weight: 550;
    font-size: 16px;
    line-height: 16px;
    color: #1F1F1F !important;
}
.nav-link::after{
    display: none;
}
.nav-link::before{
    content: '';
    position: absolute;
    background: url(../img/cabinet-status-down.svg) center / cover no-repeat !important;
    border: none !important; 
    width: 14px;
    height: 14px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%)
}
.header__contacts{
    display: flex;
    align-items: center;
}
.header__call{
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.header__call::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    right: 0;
    background: #FF0716;
    border-radius: 50%;
}
.header__username{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-right: 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
}
.header__username:hover{
    color: #1f1f1f;
}
.header__contacts .btn{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    width: 68px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    margin-left: 21px;
    transition: 300ms ease;
}
.header__contacts .btn:focus{
    box-shadow: none;
}
.header__contacts .btn:hover{
    background: #dadada;
}
.main{
    padding-top: 25px;
}
.progressBar{
    display: flex;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
}
.progress{
    background: #E5E5E5;
    border-radius: 3px;
    width: 197px;
    height: 3px;
    margin-bottom: 2px;
}
.progress-bar{
    background: #000000;
    border-radius: 3px 0px 0px 3px;
    width: 64%;
}
.progress__top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 42px;
    margin-bottom: 7px;
}
.progress__subtitle{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #1F1F1F;
}
.progress__p{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-align: right;
    color: #969696;
}
.cabinet__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #1F1F1F;
    margin-bottom: 30px;
}
.cabinet__row{
    display: flex;
    align-items: stretch;
    column-gap: 47px;
    margin-bottom: 11px;
}
.cabinet__buttons{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 26px;
}
.cabinet__row-btn{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    padding: 7px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabinet__row-btn.active{
    background: #EFEFEF;
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    height: 100%;
    transition: 300ms ease;
}
.cabinet__row-btn.active:hover{
    background: #dadada;
}
.btn-group .btn{
    height: 100%;
    width: 26px ;
    height: 26px ;
    background: #F5F5F5 ;
    border: 1px solid #DCDCDC ;
    border-radius: 3px 0px 0px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease;
}
.btn-group .btn:hover{
    background: #dadada;
}
.btn-group .btn:focus{
    box-shadow: none;
}
.btn-group .btn::after{
    display: none;
}
.dropdown-menu{
    min-width: 120px;
    padding: 0;
}
.dropdown-menu button{
    padding: 3px 12px;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #1F1F1F;
    width: 100%;
    text-align-last: left;
}
.dropdown-menu button:hover{
    background: #dadada;
}
.cabinet__bottom{
    display: flex;
    align-items: stretch;
    column-gap: 6px;
    margin-bottom: 22px;
}
.cabinet__bottom-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    background: #F5F5F5;
    border-radius: 3px;
    padding: 7px 10px;
}
.cabinet__list{
    padding-bottom: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
}
.cabinet__list-btn{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #969696;
    transition: 300ms ease;
}
.cabinet__list-btn.active, .cabinet__list-btn:hover{
    color: #1F1F1F;
}
.cabinet__list-btn:not(:nth-of-type(5)){
    margin-right: 44px;
}
.cabinet__list-add{
    width: 26px;
    height: 26px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease;
    margin-left: 29px;
}
.cabinet__list-add:hover{
    background: #dadada;
}
.cabinet__item{
    margin-bottom: 11px;
    display: flex;
    align-items: center;
}
.cabinet__item.cabinet__item-first{
    margin-top: 13px;
}
.cabinet__top-buttons{
    display: flex;
    align-items: stretch;
    column-gap: 16px;
}
.cabinet__top-add{
    background: #277AED;
    border-radius: 3px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease;
}
.cabinet__top-add:hover{
    background: #1666d6;
}
.cabinet__top-btn{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align-last: left;
    color: #1F1F1F;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    width: 241px;
    height: 26px;
    padding: 7px 10px 6px 10px;
    display: flex;
    align-items: center;
}
.cabinet__top-title{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #969696;
}
.cabinet__top-title_1{
    min-width: 185px;
}
.cabinet__top-title_2{
    min-width: 130px;
}
.cabinet__top-title_3{
    min-width: 140px;
}
.cabinet__top-title_4{
    min-width: 200px;
}
.cabinet__top-title_5{
    min-width: 170px;
}
.cabinet__top-title_6{
    min-width: 70px;
}
.cabinet__top-title_7{
    min-width: 100px;
}
.cabinet__top-title.cabinet__top-title-center{
    text-align: center !important;
}
.cabinet__item-p{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    position: relative;
}
.cabinet__item-p::before{
    content: '';
    position: absolute;
    background: #FF0716;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
}
.cabinet__item-btn{
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #1F1F1F;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    width: 38px;
    height: 32px;
    margin-right: 5px;
    margin-left: 14px;
}
.cabinet__item .dropdown .btn{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    width: 116px;
    height: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 14px;
    margin-right: 13px;
}
.cabinet__item .dropdown .btn:focus{
    box-shadow: none;
}
.cabinet__item .dropdown .btn::after{
    display: none;
}
.cabinet__item .dropdown-menu{
    background: #fff;
}
.cabinet__item .dropdown-item{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1f1f1f;
    padding: 7px 12px;
    width: 100%;
}
.cabinet__item .dropdown-item:hover{
    background: #dadada;
    color: #1f1f1f;
}
.cabinet__item .cabinet__progress{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.cabinet__item .cabinet__progress{
    background: #E5E5E5;
    border-radius: 3px;
    width: 91px;
    height: 3px;
    margin-left: 40px;
    margin-right: 40px;
}
.cabinet__item .cabinet-progress-bar{
    width: 75px;
    background: #277AED;
    border-radius: 3px 0px 0px 3px;
    display: block;
    height: 3px;
}
.cabinet__item .cabinet-progress-bar.cabinet-progress-bar-2{
    width: 16%;
}
.cabinet__content{
    display: flex;
    align-items: center;
}
.cabinet__item-input{
    margin-right: 12px;
}
.cabinet__item-p{
    margin-left: 22px;
    margin-right: 16px;
}
.cabinet__item-content{
    margin-left: 11px;
}
.cabinet__progress-p{
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-align: right;
    color: #898989;
    margin-top: 7px;
}
.cabinet__p{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
}
.cabinet__p.cabinet__p_margin{
    margin-left: 50px;
    margin-right: 38px;
}
.cabinet__texts{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-left: 62px;
    margin-right: 52px;
}
.cabinet__txt{
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #898989;
}
.cabinet__copy{
    padding-left: 299px;
}
.cabinet__copy button{
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 4px 13px rgba(151, 151, 151, 0.25);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease;
}
.cabinet__copy button:hover{
    background: #dadada;
}